[package]
name = "godot-dojo-core"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib", "staticlib"]

[dependencies]
#dojo-c = { git = "https://github.com/dojoengine/dojo.c", tag = "v1.8.7" }
dojo-c = { git = "https://github.com/dojoengine/dojo.c", rev = "276c37e" }
controller-uniffi = { git = "https://github.com/cartridge-gg/controller.c", rev = "3b208fc" }
dojo-uniffi = { git = "https://github.com/dojoengine/dojo.c", rev = "276c37e" }

[build-dependencies]
dojo-uniffi = { git = "https://github.com/dojoengine/dojo.c", rev = "276c37e", artifact = "bin:uniffi-bindgen-cpp" }
controller-uniffi = { git = "https://github.com/cartridge-gg/controller.c", rev = "3b208fc", artifact = "bin:uniffi-bindgen-cpp" }
cargo_metadata = "0.23.0"
build-print = "1.0.1"

[patch.crates-io]
starknet-crypto = { git = "https://github.com/glihm/starknet-rs", rev = "c1e7e19f45f9fad6ea2796da9b7b3dcf8f9f2b82" } # Force to fix crate version mismatch
