[submodule "external/dojo.c"]
	path = external/dojo.c
 	url = https://github.com/dannroda/dojo.c
	branch = v1.6.1-logger

[submodule "external/godot-cpp"]
	path = external/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = godot-4.2.2-stable

